<div class="row">
  <div class="col md-4">
    <div class="card">
      <div class="card-body p-4 px-5">
        <form #productForm="ngForm" (ngSubmit)="createProduct(productForm)">
          <input type="hidden" name="id" #id="ngModel" [(ngModel)]="productService.selectedProduct.id">
          <div class="form-group">
            <input type="text" name="name" #name="ngModel" [(ngModel)]="productService.selectedProduct.name"
                   placeholder="Ingrese el nombre del producto" class="form-control">
          </div>
          <div class="form-group">
            <div class="input-field col-s12">
              <input type="text" class="form-control" name="max" #name="ngModel"
                     [(ngModel)]="productService.selectedProduct.max" placeholder="Ingrese cantidad maxima">
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="min" #name="ngModel"
                   [(ngModel)]="productService.selectedProduct.min" placeholder="Ingrese cantidad minima">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="stock" #name="ngModel"
                   [(ngModel)]="productService.selectedProduct.stock" placeholder="Ingrese cantidad en stock">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="enabled" #name="ngModel"
                   [(ngModel)]="productService.selectedProduct.enabled" placeholder="Ingrese el estado del producto">
          </div>
          <button class="btn btn-primary mr-2" (click)="resetForm(productForm)">Clean</button>
          <button class="btn btn-secondary">Save</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-stripped">
      <thead>
      <th>Name</th>
      <th>Stock</th>
      <th>Enabled</th>
      <th>Min</th>
      <th>Max</th>
      </thead>
      <tbody>
      <tr *ngFor="let product of productService.products">
        <td>{{product.name}}</td>
        <td>{{product.stock}}</td>
        <td>{{product.enabled}}</td>
        <td>{{product.min}}</td>
        <td>{{product.max}}</td>
        <td>
          <a class="btn btn-sm" (click)="edit(product)">
            <i class="material-icons">edit</i>
          </a>
          <a class="btn btn-sm" (click)="delete(product.id!, productForm)">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
