<div class="row">
  <div class="col md-4">
    <div class="card">
      <div class="card-body p-4 px-5">
        <form #productForm="ngForm" (ngSubmit)="createProduct(productForm)">
          <input #id="ngModel" [(ngModel)]="productService.selectedProduct.id" name="id" type="hidden">
          <div class="form-group">
            <input #name="ngModel" [(ngModel)]="productService.selectedProduct.name" class="form-control" name="name"
                   placeholder="Ingrese el nombre del producto" type="text">
          </div>
          <div class="form-group">
            <input #name="ngModel" [(ngModel)]="productService.selectedProduct.stock" class="form-control" name="stock"
                   placeholder="Ingrese cantidad en stock" type="text">
          </div>
          <div class="form-group">
            <input #name="ngModel" [(ngModel)]="productService.selectedProduct.enabled" class="form-control"
                   name="enabled"
                   placeholder="Ingrese el estado del producto" type="text">
          </div>
          <button (click)="resetForm(productForm)" class="btn btn-primary mr-2">Clean</button>
          <button class="btn btn-secondary">Save</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-stripped">
      <thead>
      <th>Name</th>
      <th>Stock</th>
      <th>Enabled</th>
      </thead>
      <tbody>
      <tr *ngFor="let product of productService.products">
        <td>{{product.name}}</td>
        <td>{{product.stock}}</td>
        <td>{{product.enabled}}</td>
        <td>
          <a (click)="edit(product)" class="btn btn-sm">
            <i class="material-icons">edit</i>
          </a>
          <a (click)="delete(product.id!, productForm)" class="btn btn-sm">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
